.judul{
    padding-top: 50px;
    padding-bottom: 50PX;
}

.bg-light {
    background: linear-gradient(to right, #0A3565, #1782D9);
}

.napbar{
    padding-left: 15px
}

.head-app{
    margin-right: 30px;
    color:white;
}

.head-app:hover{
    text-decoration: none;
    color: aqua;
}
.navbar-nav {
    margin-left: 80px;
    margin-top: 7px;
}

.carousel-item > img { 
    width: 100%; 
  }

  .carousel-caption {
    top: 10%;
    bottom: auto;
}

  .round-indik li {
    border-radius: 10px;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
}
.round-indik .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.butt{

    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    margin-top: 50px;
    margin-bottom: 100px;
    background: linear-gradient(to right, #0A3565, #1782D9);
}

.rounded-circle{
background-image: linear-gradient(45deg, #ffffff 38.46%, #dfe1e3 38.46%, #dfe1e3 50%, #ffffff 50%, #ffffff 88.46%, #dfe1e3 88.46%, #dfe1e3 100%);
background-size: 18.38px 18.38px;

width: 100%;
    height: 250px;
    object-fit: none;
}

.content-footer{
    width: 111%;
    height: 108px;
    object-fit: contain;
    padding-left: 48px;
}

.card-step{
    border: none;
    margin-top: 30px;
}

.img-popular{
    padding: 10px;
}

.button-popular{
   
   border-radius: 30px;
    color: blue;
    padding: 6px;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    margin: auto;    
    border-color: blue;
    background: white;
}

 
.button-popular:hover {
    color: #fff;
    background-color:#0A3565;
    border-color:#0A3565;
}





.card-footer {
    background: linear-gradient(to right, #0A3565, #0770C8);
}
.footer-copyright {
    border: none;
    color: white;
}

.footer-mbuh{
    height: 178px;
    background: linear-gradient(to right, #0A3565, #3E95DE);
}

.jancuuuk{
    margin-left: 20px;
    margin-top: 28px;
}

.list-unstyled {
    padding-left: 0;
    padding-top: 5px;
    text-align: left;
    list-style: none;
}

.link-footer:hover{
    text-decoration: none;
    color:aqua;
}

.par-footer{
    color: white;
    margin-left: 235px;
}


a{
    color: white;
}

.slick-arrow {
    background-color: grey;
    /* color: black; */
  }
  .slick-arrow:hover {
    background-color: grey;
  }


 /* .card-image-first { 
    background: url('https://www.dropbox.com/s/xg0fa86w9deja6m/Invest.svg?raw=1') center 100% no-repeat;
    border-radius: 80px;
}
.card-image-first {
    background: url('https://www.dropbox.com/s/xg0fa86w9deja6m/Invest.svg?raw=1') center 100% no-repeat;
}
.card-image-first {
    background: url('https://www.dropbox.com/s/xg0fa86w9deja6m/Invest.svg?raw=1') center 100% no-repeat;
}
.card-image-first {
    background: url('https://www.dropbox.com/s/xg0fa86w9deja6m/Invest.svg?raw=1') center 100% no-repeat;
} */
    